<div>
  <div>
    <div style="background-color: black;color:white;padding:10px;">
      <h1>HN Feed</h1>
      <h3>We <3 hacker news!</h3>
    </div>
    <div *ngIf="articles.length > 0" style="padding:10px;">
      <table style="width: 100%;">
        <tr *ngFor="let a of articles" class="border-bottom">
          <td (click)="doOpen(a._id)" style="width:85%"><span class="title-time">{{a.story_title ? a.story_title : a.title}}</span><span
            class="author">  - {{a.author}}
            -</span></td>
          <td (click)="doOpen(a._id)" style="width:8%;text-align: right"><span class="title-time">{{getFormattedDate(a.created_at)}}</span></td>
          <td style="text-align: center"><span class="title-time"><img src="/assets/img/trash.png" class="btnDelete" width="16" alt="Delete" (click)="doDelete(a._id)"></span></td>
        </tr>
      </table>
    </div>
  </div>
</div>
