tr {
  background-color: #fff;
}

tr.border-bottom td {
  border-bottom: 1px solid #ccc;
}

tr .btnDelete {
  display:none;
}

tr:hover .btnDelete {
  display: inherit;
  cursor:pointer;
}

tr:hover {
  background-color: #fafafa;
}

tr > td:nth-child(1), tr > td:nth-child(2){
  cursor:pointer;
}

.title-time {
  color:#333;
  font-size:13pt;
}

.author {
  color:#999;
}
